@media (max-width: 767px) {
  header {
    padding: 20px 50px;
  }
  
  .banner {
    padding: 100px 50px 150px;
  }

  .banner h2 {
    font-size: 1.8em;
  }

  .banner .content p,
  .banner .content a {
    font-size: 1em;
  }

  .banner.active {
    transform: translateX(-250px);
  }

  #navigation {
    width: 250px;
  }

  #navigation ul li a {
    font-size: 1.5em;
    margin: 5px;
  }

  .sci {
    position: absolute;
    bottom: 50px;
    right: initial;
    flex-direction: row;
  }

  .sci li a {
    margin: initial;
    margin-right: 10px;
  }
}